<div id="shchat-main">
    <div id="shchat-online-list" class="shchat-window">
        <div class="shchat-header">
            <span class="shchat-header-count"><span id="shchat-onoff">Offline</span><span id="shchat-count"></span></span>
            <span class="shchat-header-minmax">
                <img id="shchat-users-mute" src="{path}images/unmute.png" alt="mute" width="12" height="12" title="Ugasi zvuk">
                <img id="shchat-users-minmax" src="{path}images/min.png" alt="min" width="12" height="12" title="Spusti">
                <img id="shchat-users-connect" src="{path}images/disconnect.png" alt="connect" width="12" height="12" title="Upali čet">
            </span>
        </div>
        
        <div id="shchat-users" style="display: block;">
            <div id="shchat-list" style="height: 0px;"></div>
            <input type="text" id="shchat-search" style="background-image: url('{path}images/search.png');" placeholder="Pretraga...">
        </div>
    </div>
</div>
