<div id="shchat-window-{uid}" class="shchat-window">
    <div class="shchat-header shchat-big">
        <span class="shchat-header-username"><img id="shchat-online-{uid}" src="{path}images/offline.png" class="shchat-pause" /><a href="{profile}">{name}</a></span>
        <span class="shchat-header-minmax">
            <img id="shchat-field-{uid}-minmax" src="{path}images/min.png" alt="min" width="12" height="12" title="Spusti">
            <img id="shchat-field-{uid}-close" class="shchat-close" src="{path}images/close.png" alt="close" width="12" height="12" title="Ugasi">
        </span>
    </div>
    <div id="shchat-field-{uid}" class="shchat-field" style="display: block;">
        <div id="shchat-msgs-{uid}" class="shchat-msgs">

        </div>
        <div class="shchat-input">
            <textarea id="shchat-text-{uid}" class="shchat-text" placeholder="Napišite poruku ovde..."></textarea>
        </div>
        
    </div>
</div>